
.container {
    border-radius: 0.9rem;
    align-items: center;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 40px;
    width: 30%;
    background-color: rgb(30 41 59);
}

.title {
    --tw-text-opacity: 1;
    color: rgb(55 48 163 / var(--tw-text-opacity));
    font-size: 22px;
    font-weight: bold;
}

.price {
    --tw-text-opacity: 1;
    color: rgb(55 48 163 / var(--tw-text-opacity));
    font-size: 18px;
    font-weight: bold;
}

.desc {
    color: #777;
    text-align: center;
}
