
.container {
    display: flex;
    flex-direction: column;
}

.wrapper {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.title {
    color: #3730A3;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
}

.desc {
    color: #3730A3;
    font-size: 22px;
    text-align: center;
}
