@import 'variables.scss';

.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.button {
  font-weight: bold;
  color: white;
  background-color: rgb(55 48 163);
  margin: 0.5rem;
  padding: 0.9rem 1.5rem 0.9rem 1.5rem;

  border: none;
  border-radius: 15px;
}

.gradient_text {
  font-family: 'Orbitron';
  font-size: 40px;
  text-align: center;
  background-image: linear-gradient(to right, #131014, #3730A3 50%);
  -webkit-background-clip: text;
  color: transparent;
}


.hero_lines{
  display: flex;
  span{
      content: '';
      flex: 1;
      background-color: #f4f5f0;
      width: 100%;
      height: 3px;
  }

  :first-child{
      background-color: #454545;
  }
  :last-child{
      background-color: #3730A3;
  }
}

.ad {
  display: flex;
  padding: 20px;
  min-height: calc(100vh - $footer_height - $navbar_height);

  .ad_column{
      width: 100%;
  }

  .ad_column:first-child{
      padding: $horizontal_padding;

      h2{
          color: white;
          font-family: $normal_font;
          font-size: 3rem;
          word-spacing: 10px;
      }
      p{
          color: white;
          font-family: $normal_font;
          font-size: 1.2rem;
          margin-top: 20px;
      }
  }

  .ad_column:last-child{
      position: relative;
      width: 100%;
  
      image{
          width: 100%;
          height: 100%;
      }
  }
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
